{% extends "base.html" %} {% block content %}
<!-- about section -->
</div>
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container"></div>
          <h1>Welcome to Job Link Up!</h1>
          <p id="less-txt">
            At Job Link Up, we are dedicated to revolutionizing the way job
            seekers connect with opportunities and employers find top talent.
            Our platform is designed to bridge the gap between individuals
            seeking meaningful employment and companies searching for the
            perfect fit.
          </p>
          <p id="more-txt">
            At Job Link Up, we are dedicated to revolutionizing the way job
            seekers connect with opportunities and employers find top talent.
            Our platform is designed to bridge the gap between individuals
            seeking meaningful employment and companies searching for the
            perfect fit.

            We aspire to create a trusted, caring, inclusive, fun, and transformational experience for each other at JobLinkUp, and through our platform for every member of the global workforce.
          </p>
          <button
            id="read-more-btn"
            onclick="readMore()"
            class="read-more-button"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img
            src="{{url_for('static',filename = 'images/about-img.jpg')}}"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

{% endblock %}
