{% extends "base.html" %}

{% block content %}
<div class="job_details_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2 class="white-text">{{ rendered_job['job'][2] }}</h2>
        </div>
        <div class="job_details">
            <div class="row">
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-6">
                    <div class="job_info">
                        <h3 class="white-text">{{ rendered_job['job'][1] }}</h3>
                        <h4 class="white-text">Location: {{ rendered_job['job'][4] }}</h4>
                        <h4 class="white-text">Salary: ${{ rendered_job['job'][3] }}</h4>
                        <h4 class="white-text">Duration: {{ rendered_job['job'][5] }}</h4>
                    </div>
                </div>
            </div>
            <div class="job_description">
                <h3 class="white-text">Description:</h3>
                <p class="white-text">{{ rendered_job['job'][6] }}</p>
            </div>
            <div class="job_qualification">
                <h3 class="white-text">Qualification:</h3>
                <p class="white-text">{{ rendered_job['job'][8] }}</p>
            </div>
            <div class="job_responsibilities">
                <h3 class="white-text">Key Responsibilities:</h3>
                <p class="white-text">{{ rendered_job['job'][7] }}</p>
            </div>
            
            <form action="{{ url_for('add_job') }}" method="POST">
            <input type="text" name="job_id" value="{{ rendered_job['job'][0] }}" hidden/>
            {% if rendered_job['applied'] %}    
            <button class="apply_btn" disabled>Applied</button>

            {% else %}
            <button class="apply_btn" type="submit">Apply Now</button>

            {% endif %}
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
