{% extends "base.html" %}

{% block content %}
<style>
    .transparent-box {
    border: 1px solid #ffffff; /* Set border color and width */
    padding: 20px; /* Add padding for spacing */
    border-radius: 5px; /* Add rounded corners */
}
</style>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="transparent-box">
        <div class="text-center">
            <div class="text-white">
        <p>Immediately access Premium exclusive features, tools, and insights.</p>
        <p>In 23 days, you'll receive an email reminding you that your trial will end in 7 days.</p>
        <p>In 1 month, your paid subscription period will begin.</p>
            </div>
            <form class="payment-form">
                <!-- Your payment form fields here -->

                <!-- Use an anchor tag to create a "Pay Now" button -->
                <a href="https://pages.razorpay.com/pl_MuIwq8ag4ScU0S/view" class="btn btn-primary">Pay Now</a>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
