{% extends "base.html" %}

{% block content %}
    <style>
        .content-box {
            background-color: #fff; /* White background color */
            color: #222; /* Dark text color */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        }
    </style>
<div class="content-box">
    <h1>Project Manager</h1>
    
        <p>Preparing for a project manager interview involves demonstrating your leadership, organizational, and communication skills. Here are some tips to help you excel in your project manager interviews:</p>

        <ol>
            <li>Understand the Role and Responsibilities:<br>
                Familiarize yourself with the specific requirements and expectations outlined in the job description.
            </li>

            <li>Use the STAR Method:<br>
                When discussing your experience, use the Situation, Task, Action, Result (STAR) method to provide structured, concise answers that showcase your skills.
            </li>

            <li>Communication Skills:<br>
                Effective communication is crucial for a project manager. Be articulate, concise, and demonstrate active listening skills.
            </li>
        </ol>

        <p>For a deeper dive into these tips and more, check out this video: <a href="https://www.youtube.com/watch?v=EkCb0Hl6dkw" target="_blank">Project Manager Interview Tips Video</a></p>
    </div>
    <a href="/interviewhelper">Back to Job Roles</a>
{% endblock %}
